<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.easj.spaendhjelmen.spaendhjelmen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".spaendhjelmen.Activities.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".spaendhjelmen.Activities.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".spaendhjelmen.Activities.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".spaendhjelmen.Activities.SpecificTrack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spaendhjelmen.Activities.CreateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spaendhjelmen.Activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spaendhjelmen.Activities.GPSSecureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spaendhjelmen.Activities.GPSSecureSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spaendhjelmen.Task.NotiTaskActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".spaendhjelmen.Task.GeofenceService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".spaendhjelmen.Activities.ProfileActivity"></activity>
    </application>

</manifest>